/*
 * credofasterpartnerapi_lib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */

package main_pkg


import(
	"encoding/json"
	"github.com/apimatic/unirest-go"
	"credofasterpartnerapi_lib/apihelper_pkg"
	"credofasterpartnerapi_lib/configuration_pkg"
	"credofasterpartnerapi_lib/models_pkg"
)
/*
 * Client structure as interface implementation
 */
type MAIN_IMPL struct {
     config configuration_pkg.CONFIGURATION
}

/**
 * Request Airtime Purchase
 * @param    *models_pkg.PartnerAirtimeRequest        request     parameter: Required
 * @return	Returns the []*models_pkg.PartnerAirtimeResponse response from the API call
 */
func (me *MAIN_IMPL) AirtimeRequest (
            request *models_pkg.PartnerAirtimeRequest) ([]*models_pkg.PartnerAirtimeResponse, error) {
    //the endpoint path uri
    _pathUrl := "/airtime/request"

    //variable to hold errors
    var err error = nil
    //the base uri for api requests
    _queryBuilder := configuration_pkg.GetBaseURI(configuration_pkg.ENUM_DEFAULT,me.config);

    //prepare query string for API call
   _queryBuilder = _queryBuilder + _pathUrl

    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return nil, err
    }
    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
        "accept" : "application/json",
        "content-type" : "application/json; charset=utf-8",
        "ApiKey" : credofasterpartnerapi_lib.config.ApiKey,
        "ClientId" : credofasterpartnerapi_lib.config.ClientId,
    }

    //prepare API request
    _request := unirest.Post(_queryBuilder, headers, request)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request,false);
    if err != nil {
        //error in API invocation
        return nil, err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return nil, err
    }

    //returning the response
    var retVal []*models_pkg.PartnerAirtimeResponse
    err = json.Unmarshal(_response.RawBody, &retVal)

    if err != nil {
        //error in parsing
        return nil, err
    }
    return retVal, nil

}

/**
 * Gets the current Working Balance. 
 * Balance is SIGNED
 * @return	Returns the *models_pkg.PartnerAirtimeBalanceResponse response from the API call
 */
func (me *MAIN_IMPL) AirtimeBalance () (*models_pkg.PartnerAirtimeBalanceResponse, error) {
    //the endpoint path uri
    _pathUrl := "/airtime/balance"

    //variable to hold errors
    var err error = nil
    //the base uri for api requests
    _queryBuilder := configuration_pkg.GetBaseURI(configuration_pkg.ENUM_DEFAULT,me.config);

    //prepare query string for API call
   _queryBuilder = _queryBuilder + _pathUrl

    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return nil, err
    }
    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
        "accept" : "application/json",
        "ApiKey" : credofasterpartnerapi_lib.config.ApiKey,
        "ClientId" : credofasterpartnerapi_lib.config.ClientId,
    }

    //prepare API request
    _request := unirest.Post(_queryBuilder, headers, nil)
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request,false);
    if err != nil {
        //error in API invocation
        return nil, err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return nil, err
    }

    //returning the response
    var retVal *models_pkg.PartnerAirtimeBalanceResponse = &models_pkg.PartnerAirtimeBalanceResponse{}
    err = json.Unmarshal(_response.RawBody, &retVal)

    if err != nil {
        //error in parsing
        return nil, err
    }
    return retVal, nil

}

